pkgbase = svt-av1-psy-pgo-bolt-git
	pkgdesc = Scalable Video Technology AV1 encoder and decoder
	pkgver = v1.9.0.rc1.r0.ge0b96d4
	pkgrel = 1
	url = https://github.com/gianni-rosato/svt-av1-psy
	arch = x86_64
	license = BSD
	license = custom: Alliance for Open Media Patent License 1.0
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	makedepends = llvm
	makedepends = llvm-bolt
	makedepends = clang
	makedepends = av1an
	makedepends = libdovi-git
	depends = glibc
	provides = svt-av1
	conflicts = svt-av1
	options = !strip
	source = git+https://github.com/gianni-rosato/svt-av1-psy
	source = encode.sh
	source = https://media.xiph.org/video/derf/objective-1-fast.tar.gz
	source = https://media.xiph.org/video/derf/objective-2-fast.tar.gz
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = svt-av1-psy-pgo-bolt-git
